@font-face {
    font-family: 'Jurassic Park';
    src: url('../App/JurassicPark.woff2') format('woff2'),
        url('../App/JurassicPark.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.itemLi {
    list-style: none;
}

.galleryItem {
    
    height: 200px;
    width: 200px;
    border: 10px solid rgb(138, 221, 13);
    place-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: monospace;
}

.galleryStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    font-family: monospace;
}

img {
    width: 200px;
    
}

button {
    background-color:red;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px 1px orange;
    font-family: 'Jurassic Park';
    font-size: larger;
    letter-spacing: 1.5px;
    height: 25px;
}

button:active {
    background-color:orange;
    
}