@font-face {
  font-family: 'Jurassic Park';
  src: url('../App/JurassicPark.woff2') format('woff2'),
      url('../App/JurassicPark.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
}

.App-header {
  background-color: orange;
  padding: .5em;
  color: black;
  margin-bottom: 1em;
 

  

}

.App-title {
  font-family: 'Jurassic Park';
  font-size: 72px;
  letter-spacing: 4px;
}

.galleryContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background-color: white;
}


